<h1>Listing requests</h1>

<table>
  <thead>
    <tr>
      <th>Coords</th>
      <th>Bounds</th>
      <th>Client</th>
      <th>Version</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.coords %></td>
        <td><%= request.bounds %></td>
        <td><%= request.client %></td>
        <td><%= request.version %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
