<p id="notice"><%= notice %></p>

<p>
  <strong>Coords:</strong>
  <%= @request.coords %>
</p>

<p>
  <strong>Bounds:</strong>
  <%= @request.bounds %>
</p>

<p>
  <strong>Client:</strong>
  <%= @request.client %>
</p>

<p>
  <strong>Version:</strong>
  <%= @request.version %>
</p>

<p>
  <strong>Overlay:</strong>
  <%= @request.overlay %>
</p>

<p>
  <strong>URL:</strong>
  <%= @request.url %>
</p>

<div>
  <%=image_tag "#{@request.overlay.url}" %>
</div>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>

<!-- 1396569864 -->
